[Desktop Entry]
Type=Application
Version=1.0
Name=CELstart
Comment=Run CrystalSpace+CEL game packages
Exec=celstart %f
Categories=Game;
MimeType=application/x-zip-celstart;
# FIXME: Make it work, probably on CS side.
#StartupWMClass=Crystal Space Application