<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Version="1.9.3" Id="cel.register" Language="1033">
    <Package InstallerVersion="200" Id="aa065a91-8fe0-4b8d-837e-3e2787bc79e0" Manufacturer="The Crystal Space Project"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CEL_INSTALLDIR" >
        <Component Guid="a2d533b7-fffb-4747-9b63-c4814c62346b" Id="cel.register.">
          <Environment Action="set" Part="last" Name="CEL_1_9" Value="[CEL_INSTALLDIR]" Id="cel.register.env"/>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>

